extends ../layout.jade
block contenido
	div(class="col-md-5 center-block no-float top-space text-left")
		h1 Editar Registro
		form(method="POST" action="/menu?_method=put" style="margin-top:1.5em;")
			div(class="form-group")
				label Variable1
				input(type="text" name="var1" placeholder="Variable1" class="form-control")
			div(class="form-group")
				label Variable2
				input(type="text" name="var2" placeholder="Variable2" class="form-control")
			div(class="form-group")
				label Variable3
				input(type="text" name="var3" placeholder="Variable3" class="form-control")
			div(class="form-group")
				label Variable4
				input(type="text" name="var4" placeholder="Variable4" class="form-control")
			div(class="form-group")
				label Variable5
				input(type="text" name="var5" placeholder="Variable5" class="form-control")
			div(class="form-group")
				label Variable6
				input(type="text" name="var6" placeholder="Variable6" class="form-control")
			div(class="form-group")
				label Variable7
				input(type="text" name="var7" placeholder="Variable7" class="form-control")
			div(class="form-group")
				label Variable8
				input(type="text" name="var8" placeholder="Variable8" class="form-control")
			div(class="form-group")
				label Variable9
				input(type="text" name="var9" placeholder="Variable9" class="form-control")
			div(class="form-group")
				label Variable10
				input(type="text" name="var10"  placeholder="Variable10" class="form-control")
			div(class="form-group")
				label Variable10
				input(type="text" name="var11"  placeholder="Variable10" class="form-control")
			div(class="form-group")
				label Variable10
				input(type="text" name="var12"  placeholder="Variable10" class="form-control")
			div(class="form-group")
				label Contraseña
				input(type="password" name="password" placeholder="Contraseña de administrador" class="form-control")
			div(class="form-group text-right")
				input(type="submit" class="btn btn-info" value="Guardar")