extends ../layout.jade
block contenido
	div(class="col-md-5 center-block no-float top-space text-left")
		h1 Cambiar Limites
		form(method="post" action="/menulim" style="margin-top:1.5em;")
			div(class="form-group")
				label Limite Inferior 1
				input(type="number" name="var1" placeholder="var1" class="form-control")
			div(class="form-group")
				label Limite Superior 1
				input(type="number" name="var2" placeholder="var2" class="form-control")
			div(class="form-group")
				label Limite Inferior 2
				input(type="number" name="var3" placeholder="var3" class="form-control")
			div(class="form-group")
				label Limite Superior 2
				input(type="number" name="var4" placeholder="var4" class="form-control")
			div(class="form-group")
				label Limite Inferior 3
				input(type="number" name="var5" placeholder="var5" class="form-control")
			div(class="form-group")
				label Limite Superior 3
				input(type="number" name="var6" placeholder="var6" class="form-control")
			div(class="form-group")
				label Limite Inferior 4
				input(type="number" name="var7" placeholder="var7" class="form-control")
			div(class="form-group")
				label Limite Superior 4
				input(type="number" name="var8" placeholder="var8" class="form-control")
			div(class="form-group")
				label Limite Inferior 5
				input(type="number" name="var9" placeholder="var9" class="form-control")
			div(class="form-group")
				label Limite Superior 5
				input(type="number" name="var10" placeholder="var10" class="form-control")
			div(class="form-group")
				label Limite Inferior 6
				input(type="number" name="var11" placeholder="var11" class="form-control")
			div(class="form-group")
				label Limite Superior 6
				input(type="number" name="var12" placeholder="var12" class="form-control")		
			div(class="form-group text-right")

				input(type="submit" class="btn btn-info" value="Guardar")